<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite name="Yoti tests">
			<directory>./tests/</directory>
		</testsuite>
	</testsuites>
	<listeners>
		<listener class="Symfony\Bridge\PhpUnit\SymfonyTestsListener"/>
	</listeners>
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">src</directory>
		</whitelist>
	</filter>
	<logging>
		<log type="coverage-text" target="php://stdout" showUncoveredFiles="true"/>
		<log type="coverage-html" target="./coverage/report/" showUncoveredFiles="true"/>
	</logging>
</phpunit>